@keyframes bgcolor {
  0% {
      background-color: #45a3e5
  }

  30% {
      background-color: #66bf39
  }

  60% {
      background-color: #eb670f
  }

  90% {
      background-color: #f35
  }

  100% {
      background-color: #864cbf
  }
}

body {
  -webkit-animation: bgcolor 0.5s infinite;
  animation: bgcolor 0.25s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}


h1 span {
  font-size: 300px ;
  transform-origin: bottom;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 2000px;
  width: 50px;
  left: 500;
  top: 500;
  position: absolute;
  }
  .c1 {
  transform: rotate(340deg);
  color: violet;
  left: 41.5%;
  top: 10px;
  position: absolute;
  }
  .c2 {
  transform: rotate(346deg);
  color: indigo;
  left: 42%;
  top: 10px;
  position: absolute;
  }
  .c3 {
  transform: rotate(352deg);
  color: blue;
  left: 43%;
  top: 10px;
  position: absolute;
  }
  .c4 {
  transform: rotate(358deg);
  color: green;
  left: 44%;
  top: 10px;
  position: absolute;
  }
  .c5 {
  transform: rotate(4deg);
  color: yellow;
  left: 44.5%;
  top: 10px;
  position: absolute;
  }
  .c6 {
  transform: rotate(12deg);
  color: orange;
  left: 44.5%;
  top: 10px;
  position: absolute;
  }
  .c7 {
  transform: rotate(16deg);
  color: red;
  left: 45.5%;
  top: 10px;
  position: absolute;
  }
  .c8 {
  transform: rotate(22deg);
  color: purple;
  left: 46%;
  top: 10px;
  position: absolute;
  }


h2 {
  font-size: 680px;
}

h3 {
  font-size: 100px;
}

p {
  margin-left: 500px;
  font-size: 100px;
}


#ampari {
  height: 1000px;
  width: 1000px;
  margin-left: 150px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

}


@-webkit-keyframes spin{
    100%{-webkit-transform: rotateX(360deg);}
    /*100%{-webkit-transform: rotateX(360deg);}*/
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotateX(360deg);}
    /*100%{-webkit-transform: rotateX(360deg);}*/
}
@keyframes spin{
  100%{-webkit-transform: rotateX(360deg);}
  /*100%{-webkit-transform: rotatex(360deg);}*/
}





#griffin {
  height: 1000px;
  margin-left: 150px;
  position: absolute;
  -webkit-animation: spin1 2s linear infinite;
  -moz-animation: spin1 2s linear infinite;
  animation: spin1 2s linear infinite;
  
}



@-webkit-keyframes spin1{
  100%{-webkit-transform: rotateY(360deg);}
  /*100%{-webkit-transform: rotateX(360deg);}*/
}
@-moz-keyframes spin1{
  100%{-webkit-transform: rotateY(360deg);}
  /*100%{-webkit-transform: rotateX(360deg);}*/
}
@keyframes spin1{
100%{-webkit-transform: rotateY(360deg);}
/*100%{-webkit-transform: rotatex(360deg);}*/
}





#pv {
  top: -450px;
  animation: pva 3s;
  animation-iteration-count: infinite;
  position: relative;
}




@keyframes pva {
  from {left: -1600px;}
  to {left: 2500px;}
}


  /*0%  {left:-1000px;}
  5%  {left:0px;}
  10% {left:100px;}
  15% {left:200px;}
  20% {left:300px;}
  25% {left:400px;}
  30% {left:500px;}
  35% {left:600px;}
  40% {left:700px;}
  45% {left:800px;}
  50% {left:900px;}
  55% {left:1000px;}
  60% {left:1100px;}
  65% {left:1200px;}
  70% {left:1300px;}
  75% {left:1400px;}
  80% {left:1500px;}
  85% {left:1600px;}
  90% {left:1700px;}
  95% {left:1800px;}
  100% {left:1900px;}*/